.allusers-bg-container{
    min-height: 90vh;
    /* width: 50%; */
}

.allUserPage-title{
    color: #000000;
    font-size: 22px;
    font-weight: 600;
}

.userfield-list-item{
    list-style-type: none;
    /* color: #ffffff; */
}
/* .userfield-list-item2{
    list-style-type: none;
    color: black;
    height: 40px;
    width: 60%;
} */

.userfields-unordered-list{
    height: 40px;
    width: 60%;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    color: #ffffff;
    background-color: #007a0c;
    align-items: center;

}
.user-unordered-list{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: center;
    margin: 0px;
    background-color: #ffffff;
    padding: 10px;
}
.user-unordered-list-item{
    color: #000000;
    height: 40px;
    
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
    
    align-items: center;

}



.separator{
    height: 1px;
    width: 100%;
    background-color: #000000;
    /* border: none; */

}

.all-user-delete-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

.user-details-unordered-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin:auto;
    padding: 10px;
}

.user-details-unordered-list-item{
    /* display: inline-flex; */
    background-color: #007a0c;
    font-size: 15px;
    list-style-type: none;
    height: 300px;
    width: fit-content;
    min-width: 300px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:4px 0;
    
}

.user-info{
    /* background-color: #007a0c; */
    font-weight: 500;
    font-size: 15px;
    font-style: italic;
    color: #ffffff;
    display: inline-block;
    /* align-self: flex-start;
    margin-left: 40px; */

}

.user-span{
    margin-left: 3px;
    font-weight: normal;
}

.all-user-delete-button:hover{
    color:red;
}